{%extends 'layout.html'%}

{%block contentA%}
<container class="containera" id="homecontainera">
    <h1 class="h1"> Your Homepage for Cool Information </h1>

    <h2 id="homewho">Who's ready?</h2>

    <h1 class="h1">Let's get started! <span class="label label-default"></span></h1>

    <a href="{{ url_for('signin') }}" type="button" id="homebtn" class="bhsignbuttons">Click here to enter
        your account information!</a>
    <br /><br />
    <a href="{{ url_for('signup') }}" type="button" id="homebtn" class="bhsignbuttons">Click here to sign
        up!</a>
</container>

{%endblock contentA%}

{%block contentB%}
<container class="containerc" id="homecontainerc">
    <div class="div01" id="homediv01"></div>
    <div class="div02" id="homediv02"></div>
    <div class="div03" id="homediv03"></div>
    <div class="div04" id="homediv04"></div>
    <div class="div05" id="homediv05"></div>
</container>

{%endblock contentB%}

{%block contentC%}

{%endblock contentC%}