{%extends 'layout.html'%}



{%block contentA%}

<h1 class="pt-5 pb-2">Let's get you signed in! </h1>

{%endblock contentA%}

{% block contentB %}
<center>
  <div class="signup">
    <form method="POST">
      {{ signinform.hidden_tag() }}
      {{ signinform.name.label(class="form-label") }}
      {{ signinform.name(class="form-control") }}
      <br />
      {{ signinform.passw.label(class="form-label") }}
      {{ signinform.passw(class="form-control") }}
      <br />
      {{ signinform.submit(class="bhsignbuttons") }}
    </form>
  </div>
  <div id="backhome">
    <a href="{{ url_for('home') }}" class="bhsignbuttons">Back to Homepage</a>
  </div>
</center>



{%endblock contentB%}





{%block contentC%}

{%endblock contentC%}