{%extends 'layout.html'%}



{%block contentA%}
<container class="signupform" id="signupcontainerhead">
  <div>
    <h1 class="h1" id="signinheader01"> Let's get you signed in! </h1>
  </div>
</container>
{%endblock contentA%}

{% block contentB %}

<container class="signupform" id="signincontainera">
  <div class="signup">
    <form method="POST">
      {{ signinform.hidden_tag() }}
      {{ signinform.name.label(class="form-label") }}
      {{ signinform.name(class="form-control") }}
      <br />
      {{ signinform.passw.label(class="form-label") }}
      {{ signinform.passw(class="form-control") }}
      <br />
      <div class="buttoncontainer">
        {{ signinform.submit(class="bhsignbuttons") }}
      </div>
    </form>
  </div>
</container>
<div class="buttoncontainer" id="backhome">
  <a href="{{ url_for('home') }}" class="bhsignbuttons">Back to Homepage</a>
</div>



{%endblock contentB%}





{%block contentC%}

<container class="containerc" id="signincontainerc">
  <div class="div01" id="signindiv01"></div>
  <div class="div02" id="signindiv02"></div>
  <div class="div03" id="signindiv03"></div>
  <div class="div04" id="signindiv04"></div>
  <div class="div05" id="signindiv05"></div>
</container>

{%endblock contentC%}