{%extends 'layout.html'%}

{% block contentA %}

<container class="signupcontainer" id="signupcontainera">
  <h1>Welcome:</h1>
  <p id="signupPA"> Signup for full site access.</p>
  <p id="signupPB"> Enter your information below: </p>
</container>

{% endblock contentA %}

{% block contentB %}
<container class="signupform" id="signupcontainerb">
  <div class="signup">
    <form method="POST">
      {{ signupform.hidden_tag() }}
      {{ signupform.inputusername.label(class="form-label") }}
      {{ signupform.inputusername(class="form-control") }}
      <br />
      {{ signupform.inputemail.label(class="form-label") }}
      {{ signupform.inputemail(class="form-control") }}
      <br />
      {{ signupform.inputpassworda.label(class="form-label") }}
      {{ signupform.inputpassworda(class="form-control") }}
      <br />
      {{ signupform.inputpasswordb.label(class="form-label") }}
      {{ signupform.inputpasswordb(class="form-control") }}
      <container class="buttoncontainer">
        <div class="bhsingbuttons">
          {{ signupform.submit(class="bhsignbuttons") }}
        </div>
      </container>
    </form>
  </div>
</container>

<container class="buttoncontainer">
  <div>
    <a href="{{ url_for('signin') }}" class="bhsignbuttons">Login</a>
    <a href="{{ url_for('home') }}" class="bhsignbuttons">Home</a>
  </div>
</container>

{% endblock contentB %}

{% block contentC %}

{% endblock contentC %}