{%extends 'layout.html'%}

{% block contentA %}

<container class="signupcontainer" id="signupcontainera">
  <h1>Hi, {{ session['name'] }}</h1>
  <p id="signupPA"> Let's signup for full site access.</p>
  <p id="signupPB"> Enter your information below: </p>
</container>

{% endblock contentA %}

{% block contentB %}
<container class="signupform" id="signupcontainerb">
  <div class="signup">
    <form method="POST">
      {{ signupform.hidden_tag() }}
      {{ signupform.inputusername.label(class="form-label") }}
      {{ signupform.inputusername(class="form-control") }}
      <br />
      {{ signupform.inputemail.label(class="form-label") }}
      {{ signupform.inputemail(class="form-control") }}
      <br />
      {{ signupform.inputpassworda.label(class="form-label") }}
      {{ signupform.inputpassworda(class="form-control") }}
      <br />
      {{ signupform.inputpasswordb.label(class="form-label") }}
      {{ signupform.inputpasswordb(class="form-control") }}
      <br />
      {{ signupform.submit(class="btn btn-primary") }}
    </form>
  </div>
</container>

<container id="bhsignbuttons">
  <div class="bhsignbuttons">
    <a href="{{ url_for('signin') }}" class="btn btn-primary">Login</a>
    <a href="{{ url_for('home') }}" class="btn btn-primary">Home</a>
  </div>
</container>

{% endblock contentB %}

{% block contentC %}

{% endblock contentC %}