{%extends 'layout.html'%}

{% block contentA %}
<h1>Hi, {{ session['name'] }}!!</h1>
<p> It looks like your username or password was not able to be validated.</p>
<br/>
<strong> If this is your first time visiting, please enter your information below: </strong>
{% endblock contentA %}

{% block contentB %}
<center>
<div class="signup">
  <form method="POST">
    {{ signupform.hidden_tag() }}
    {{ signupform.inputusername.label(class="form-label") }}
    {{ signupform.inputusername(class="form-control") }}
    <br/>
    {{ signupform.inputemail.label(class="form-label") }}
    {{ signupform.inputemail(class="form-control") }}
    <br/>
    {{ signupform.inputpassworda.label(class="form-label") }}
    {{ signupform.inputpassworda(class="form-control") }}
    <br/>
    {{ signupform.inputpasswordb.label(class="form-label") }}
    {{ signupform.inputpasswordb(class="form-control") }}
    <br/>
    {{ signupform.submit(class="btn btn-primary") }}
  </form>
</div>
<br/><br/>
<a href="{{ url_for('home') }}" class="btn btn-primary">Back to Homepage</a>
</center>
{% endblock contentB %}

{% block contentC %}

{% endblock contentC %}